@font-face {
  font-family: 'Graphik SB Web';
  src: url('Graphik-Semibold-Web.eot');
  src: url('Graphik-Semibold-Web.eot?#iefix') format('embedded-opentype'),
       url('Graphik-Semibold-Web.woff2') format('woff2'),
       url('Graphik-Semibold-Web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Graphik Web';
  src: url('Graphik-Regular-Web.eot');
  src: url('Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('Graphik-Regular-Web.woff2') format('woff2'),
       url('Graphik-Regular-Web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Voyage Regular';
  src: url('Voyage-Regular.woff2') format('woff2'),
       url('Voyage-Regular.woff') format('woff'),
       url('Voyage-Regular.ttf')  format('truetype');
}
