{{ define "main" }}

      <div>
        <h1>{{ with .Site.GetPage "/intro" }}{{ .Title }}{{ end }}</h1>
        {{ with .Site.GetPage "/intro" }}{{ .Params.description }}{{ end }}
      </div>

      <div>
        {{ with .Site.GetPage "/weekly" }}{{ .Title }}{{ end }}
        {{ range where (where .Site.RegularPages "Section" "weekly") "Params.available" true }}
          {{ .Render "product"}}
    		{{ end }}
      </div>

      <div>
        {{ with .Site.GetPage "/about" }}{{ .Title }}{{ end }}
        {{ with .Site.GetPage "/about" }}{{ .Content }}{{ end }}
      </div>

      <div>
        {{ with .Site.GetPage "/where" }}{{ .Title }}{{ end }}
        {{ range where .Site.RegularPages.ByTitle "Section" "where" }}
          {{ .Render "retailer"}}
    		{{ end }}
      </div>

      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>
{{ end }}
